/* AddDoctorForm.css */
.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
  color: #597a74;
}

.adddoctorform-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .adddoctorform-group {
    margin-bottom: 20px;
    max-width : 400px;
    align : center;
  }
  
  .adddoctorform-label {
    font-size: 18px;
    margin-bottom: 8px;
    display: block;
    color: #333;
  }
  
  .adddoctorform-input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 3px solid #b8cfcb;
    border-radius: 5px;
  }
  
  .adddoctorform-input:focus {
    outline: none;
  }
  
  .adddoctorform-error {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .adddoctorform-submit {
    align : center;
    width: 250px;
    padding: 10px;
    background-color: #b8cfcb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .adddoctorform-submit:hover {
    background-color: #597a74;
  }
  