.managedoctors-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .managedoctors-search {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-right: 10px; 
  }
  
  .managedoctors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .managedoctors-row {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
  }
  
  .managedoctors-details {
    flex: 1;
    text-align: justify;
  }
  
  .managedoctors-remove {
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px; /* Adjust padding */
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Center button vertically */
  }

  .update_slots-doctors-remove {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px; /* Adjust padding */
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; /* Center button vertically */
  }
  
  .update_slots-doctors-remove :hover {
    background-color: rgb(73, 73, 255);
  }
  
  .managedoctorsbutton{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
  }

  .managedoctors-a {
    display: flex;
    align-items: center;
  }

  .managedoctors-a button{
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-left: 10px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s ease;

  }

  .managedoctors-a button:hover {
    background-color: #0056b3;
  }
  
  